      <hr>

      <footer class="footer">
        <p>&copy;2020 Évelyne Lachance, All Rights Reserved. | <a href="#top">Back to Top</a> | <a href="/privacy">Privacy Policy</a></p>
      </footer>
</div>

  </body>
</html>