<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h1>Privacy Policy</h1>
      <h4>TBD in more details, this is probably not legally valid.</h4>
      <p>TL;DR: Etiket (the bot) only stores tag data provided by users, no other personal information is stored or collected in a persistent manner.</p>
      <p>Some data is temporarily store in RAM for normal bot operations, but not saved on disk. This data is from the Discord API.</p>
      
      <p>This website (etiket.evie.codes) collects logs of visitors to this website for statistical and debugging purpose. This data includes IP addresses, referral URLs, and timestamps.</p>
      
      <p>No data collected by the website or the bot has, is, or ever will be, shared or sold to any third-party or partners or anyone else for that matter.</p>
    </div>
  </div>
<% include ./blocks/footer %>